<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Find users</title>
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
	<div class="container card my-4">
		<div class="card-body">
			<div class="row justify-content-center">
				<h3>Find users</h3>
			</div>
			<div class="row">
				<ul class="list-group col-sm-12" th:object="${user}">
					<li class="list-group-item active">User found</li>
					<li class="list-group-item" th:text="*{id}"></li>
					<li class="list-group-item" th:text="*{name}"></li>
					<li class="list-group-item" th:text="*{surname}"></li>
				</ul>
			</div>
		</div>
	</div>
</body>
</html>
